@import url('https://fonts.googleapis.com/css2?family=Bungee');

body {

color:black;
background-repeat:repeat;
background: black;
background-attachment: fixed;

}

h2 {

	text-overflow: clip;
	font-size:1.5em;
	
}

.background {

position: fixed;
color:black;
width:100%;
height:100%;
background: url(images/backgroundSkyrim.png);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
 z-index:-5;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}

/* Code d'arrière plan qui disparaît au scroll. */

/* .background {

position: absolute;
color:black;
width:100%;
height:100%;
background: url(https://steamuserimages-a.akamaihd.net/ugc/958613321554117129/19967ACDA6329E46EFDEDF9D0B4E14CEF7B9FF33/);
background-attachment: fixed;
 z-index:-5;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

} */

.core {

  position: relative;
  text-align: center;
  top: 32px;
  margin: 0 auto;  
  width: 90%;
  color: white;
background-color:white;
background-image: url(images/brushed-steel.jpg);
background-repeat:repeat;

  box-shadow: 8px 8px 5px #000000;
  border-radius: 64px;

}

.socialbutton {
	
  text-decoration:none;
  position: relative;
  text-align: center;
  padding: 2.5vw 3vw;
  top: 32px;
  box-shadow: 8px 8px 5px #000000;
  background-image:url(images/socialbutton.png);
  margin: 10px;  
  width: 30px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -webkit-text-stroke: 1.5px black;
	
}

.naglogo {
	
  position: relative;
  text-align: center;
  top: 32px;
  margin: 0 auto;  
  width: 50%;
  color: white;
	
}

.fullnaglogo {
	
  position: relative;
  text-align: center;
  top: 0px;
  margin: 0 auto;  
  width: 80%;
  color: white;
	
}

.socialsbuttons {
	
  position: relative;
  text-align: center;
  top: 32px;
  margin: 0 auto;  
  width: 100%;
  color: white;
	
}



			.buttonvideo{
				position: absolute;
				width: 14.5%;
				
				text-align: center;
				margin: 0 auto;  
				left: 63%;
				top: 40%;
				
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}

			.buttonvideo:hover{

				-webkit-transform: translateX(130px); 
				-moz-transform: translateX(130px); 
				-ms-transform: translateX(130px); 
				-o-transform: translateX(130px); 
				transform: translateX(130px); 
			}
			
			.button2{
				position: absolute;
				width: 14.5%;
				
				text-align: center;
				margin: 0 auto;  
				left: 63%;
				top: 70%;
				
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}

			.button2:hover{

				-webkit-transform: translateX(130px); 
				-moz-transform: translateX(130px); 
				-ms-transform: translateX(130px); 
				-o-transform: translateX(130px); 
				transform: translateX(130px); 
			}
			
			.button3{
				position: absolute;
				width: 14.5%;
				
				text-align: center;
				margin: 0 auto;  
				right: 63%;
				top: 40%;
				
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}

			.button3:hover{

				-webkit-transform: translateX(-130px); 
				-moz-transform: translateX(-130px); 
				-ms-transform: translateX(-130px); 
				-o-transform: translateX(-130px); 
				transform: translateX(-130px); 
			}
			
			.button4{
				position: absolute;
				width: 14.5%;
				
				text-align: center;
				margin: 0 auto;  
				right: 63%;
				top: 70%;
				
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}

			.button4:hover{

				-webkit-transform: translateX(-130px); 
				-moz-transform: translateX(-130px); 
				-ms-transform: translateX(-130px); 
				-o-transform: translateX(-130px); 
				transform: translateX(-130px); 
			}
	
	

.background_bottom {
	
  position: absolute; 
  left: -24px;
  width: 100%;
  height: 500px;
  bottom : 0px;
  background-image:url(images/basbackground.png);
  background-repeat:repeat-x;


}

.up_screwbar {
	
  position: absolute; 
  width: 100%;
  left : 0px;
  top : -32px;
  height: 64px;
  background-image:url(images/screw-.png);
  background-repeat:repeat-x;


}

.left_screwbar {
	
  position: absolute; 
  width: 64px;
  left : -32px;
  top : 0px;
  height: 100%;
  background-image:url(images/screwl.png);
  background-repeat:repeat-y;

}

.right_screwbar {
	
  position: absolute; 
  width: 64px;
  right : -32px;
  top : 0px;
  height: 100%;
  background-image:url(images/screwl.png);
  background-repeat:repeat-y;

}

.down_screwbar {
	
  position: absolute; 
  width: 100%;
  right : 0px;
  bottom : -32px;
  height: 64px;
  background-image:url(images/screw-.png);
  background-repeat:repeat-x;

}

.upper_left_screw {
	position: absolute;
	top: -32px;
	left: -32px;
    background-image:url(images/screw.png);
}
.upper_right_screw {
	position: absolute;
	top: -32px;
	right: -32px;
    background-image:url(images/screw.png);
}
.lower_left_screw {
	position: absolute;
	bottom: -32px;
	left: -32px;
    background-image:url(images/screw.png);
}
.lower_right_screw {
	position: absolute;
	bottom: -32px;
	right: -32px;
    background-image:url(images/screw.png);
}

.page {
	
  position: relative;
  text-align: center;
  padding: 50px 50px;
  top: 32px;
  box-shadow: 8px 8px 5px #000000;
  background-image:url(images/background.png);
  margin: 0 auto;  
  width: 70%;
  color: black;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -webkit-text-stroke: 1px black;
  
}

#files {
	
	background-color: rgba(0,0,0,0.5);
	background-repeat: repeat;
	border-radius: 5%;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	border-radius: 2%;
	width: 100%;
	height : 400px;
	position:relative;
	
}

.imagenews {
	
	color: black;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	top: 50px;
	position: absolute;
	margin: 0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
	background: url(images/basbackground2.png);
	background-size: 10% auto;
	z-index: 0;
	width: auto;
	height: 300px;
	border-radius: 5%;
	border-style: solid;
	border-width: 10px;
	border-color: #111111;
	background-repeat: repeat-x;
	
	
}

.imagenews h1 {
	
	visibility: hidden;
	position: absolute;
	margin: 0 auto;
	justify-content:center;
	align-items:center;
	height: 300px;
	border-radius: 5%;
	background-repeat: repeat-x;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translateY(-50px); 
	-moz-transform: translateY(-50px); 
	-ms-transform: translateY(-50px); 
	-o-transform: translateY(-50px); 
	transform: translateY(-50px); 
	opacity: 0;
	
}

.imagenews img {
	
	position: absolute;
	margin: 0 auto;
	justify-content:center;
	align-items:center;
	background: url(images/basbackground2.png);
	background-size: 10% auto;
	width: auto;
	height: 300px;
	border-radius: 5%;
	box-shadow: 3px 3px 3px #000000;
	border-style: solid;
	border-width: 10px;
	border-color: #111111;
	background-repeat: repeat-x;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	
}

.estorc-img {

  box-shadow: 3px 3px 3px #000000;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display:inline;
	
}

.page p,h6,h5,h4,h2,h1,img {

  position: relative;
background: rgb(0,42,65);
background: linear-gradient(0deg, rgba(0,42,65,1) 23%, rgba(255,255,255,1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.5);
	
}

.page h3 {

font-family: 'Bungee', cursive;
  -webkit-text-stroke: 1px black;
  line-height: 25px;
font-size: 20px;
  position: relative;
background: rgb(0,42,65);
background: linear-gradient(0deg, rgba(0,42,65,1) 23%, rgba(255,255,255,1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.5);
	
}





























#phoneMenu {
	
	position:absolute;
	visibility: hidden;
	height:0px;
	width:0px;
	z-index:1;
	top:100px;
	left:80px;
	
}

#phoneMenu img {
	
	width: 96px;
	
}

#phoneMenuList {
	
	position:absolute;
	left:-80px;
	border: ridge 6px grey;
	visibility: hidden;
	background-color: #222;
	opacity: 0;
	padding: 0 5px;
	transform: scale(1,0) translate(0, -100%);
	transition: ease-in-out 0.2s;
	text-align:center;
	
}

#phoneMenuList a,#phoneMenuList p {
	
	white-space: nowrap;
	text-decoration:none;
	color: black;
	font-family: 'Bungee', cursive;
	line-height:25px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	-webkit-text-stroke: 1px black;
background: rgb(0,42,65);
background: linear-gradient(0deg, rgba(0,42,65,1) 23%, rgba(255,255,255,1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.5);
	
}

@media only screen and (max-width: 1500px) {
	
	
	#pctext {
	
		visibility: hidden;
		font-size: 0px;
		
	}
	
	div#phoneMenu {
		
		visibility: visible;
		height:85%;
		
	}
	
	a.socialbutton {

		visibility: hidden;
		width:0px;
		top:0px;
		font-size:0px;
		position:absolute;

	}
	
	div.socialsbuttons {

		visibility: hidden;
		width:0px;
		height:64px;
		font-size:0px;

	}

	div.buttonvideo {

		visibility: hidden;
		width:0px;
		font-size:0px;
		position:absolute;

	}
	
	div.button2 {

		visibility: hidden;
		width:0px;
		font-size:0px;
		position:absolute;

	}
	
	div.button3 {

		visibility: hidden;
		width:0px;
		font-size:0px;
		position:absolute;

	}
	
	div.button4 {

		visibility: hidden;
		width:0px;
		font-size:0px;
		position:absolute;

	}
	
	div.naglogo {
		
	  width: 80%;
		
	}
	
	div.core {
		
	  width: 95%;
		
	}
	
}